<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ChargeApiHistoryMapper">
    
    <resultMap type="ChargeApiHistory" id="ChargeApiHistoryResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectChargeApiHistoryVo">
        select id, project_id, project_name,h.user_id as user_id, h.create_date, h.update_date, h.create_by, h.update_by, h.remark,u.user_name
        from charge_api_history h left join sys_user u on h.user_id = u.user_id
    </sql>

    <select id="selectChargeApiHistoryList" parameterType="ChargeApiHistory" resultMap="ChargeApiHistoryResult">
        <include refid="selectChargeApiHistoryVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="userId != null "> and h.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
        </where>
    </select>
    
    <select id="selectChargeApiHistoryById" parameterType="Long" resultMap="ChargeApiHistoryResult">
        <include refid="selectChargeApiHistoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertChargeApiHistory" parameterType="ChargeApiHistory" useGeneratedKeys="true" keyProperty="id">
        insert into charge_api_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateChargeApiHistory" parameterType="ChargeApiHistory">
        update charge_api_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChargeApiHistoryById" parameterType="Long">
        delete from charge_api_history where id = #{id}
    </delete>

    <delete id="deleteChargeApiHistoryByIds" parameterType="String">
        delete from charge_api_history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>