<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserBalanceMapper">
    
    <resultMap type="UserBalance" id="UserBalanceResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="balance"    column="balance"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUserBalanceVo">
        select id, b.user_id, balance, b.create_date, b.update_date, b.create_by, b.update_by, b.remark, u.user_name
        from user_balance b left join sys_user u on b.user_id = u.user_id
    </sql>

    <select id="selectUserBalanceList" parameterType="UserBalance" resultMap="UserBalanceResult">
        <include refid="selectUserBalanceVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="userName != null  and userName != ''"> and u.user_name like concat('%', #{userName}, '%')</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
        </where>
    </select>
    
    <select id="selectUserBalanceById" parameterType="Long" resultMap="UserBalanceResult">
        <include refid="selectUserBalanceVo"/>
        where id = #{id}
    </select>

    <select id="selectUserBalanceByUserId" parameterType="Long" resultMap="UserBalanceResult">
        <include refid="selectUserBalanceVo"/>
        where u.user_id = #{userId}
    </select>

    <insert id="insertUserBalance" parameterType="UserBalance" useGeneratedKeys="true" keyProperty="id">
        insert into user_balance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="balance != null">balance,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="balance != null">#{balance},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUserBalance" parameterType="UserBalance">
        update user_balance
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserBalanceById" parameterType="Long">
        delete from user_balance where id = #{id}
    </delete>

    <delete id="deleteUserBalanceByIds" parameterType="String">
        delete from user_balance where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>